html, body {
    height:100%;    
}
body {
    background: #ededed url('../img/header.jpg') no-repeat center 0;
    color: #646768;
}

/* Fontes, Links, etc */
a {
    color: #B69000;
    text-decoration: none;
}
    a:hover {
        color: #C78800;
    }

.link {
    color: #434343;
}
    .link:hover {
        color: #80aa12;
    }

.clear {
    clear: both;
}

strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

.cursor {
    cursor: pointer;
}

/* Estrutura do site */
#pagina {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

header {
    height: 300px;
}

footer {
    background: transparent url('../img/footer.png') no-repeat center 0 !important;
    width: 100%;
    height: 48px;  
    clear: both;
    bottom: 0px;
    padding-top: 150px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
    footer p {
        text-align: right;
        font: normal 70%/1.0 Helvetica, Arial, sans-serif;
	    letter-spacing: 0;
        color: #000;
        padding-top: 3px;
        padding-right: 25px;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
    }
.footer {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/* navTop */
#navTop { 
    width: 100%; 
    height: 30px; 
    background-color: #fff;     
    box-shadow: #000 0 0 5px;
    -moz-box-shadow: #000 0 0 5px;
    -webkit-box-shadow: #000 0 0 5px;   
    z-index: 9999;
}
    #navTop .esq {
        float: left;
    }
    #navTop .dir {
        float: right;
    }
    #navTop ul { 
        padding-right: 10px;             
    }
        
    #navTop li { 
        display: inline-block; 
        padding: 10px 10px 0 10px;
        border-left: 1px solid #eadfdf;    
    }
        #navTop li.first {
            border-left: none;
        }


/* Noticias da pagina inicial */
.g_inews {
    background: transparent url('../img/bg_news.png') no-repeat center 0 !important;
    width: 600px;
    height: 245px;  
    padding-bottom: 48px;    
    position: relative;
    margin: 0 auto;
}
.g_inews .bloco {
    padding: 20px 0 0 30px;
}


/* Menu principal e caixa de pesquisa */
nav {
    position: relative;
    margin: 0 0 50px 0;
    width: 800px;
}

ul#g_menu {
    cursor: pointer;
}

ul#g_menu img {
    float: right;
    padding-top: 12px;
    padding-right: 5px;
}

ul#g_menu span {
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    text-shadow:0 1px 0 #434343;
}

    ul#g_menu li {
        display: inline;
        font-size: 19px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        float: left;
        position: relative;
        background-color: #1c3353;
        border-left: 1px solid #325381;
        border-right: 1px solid #325381;
        color: #fff;
        text-shadow: 0 1px 2px #000;
    }

    ul#g_menu li:hover {
        background-color: #325381;
        border-left: 1px solid #1c3353;
        border-right: 1px solid #1c3353;
        color: #ccc;
        text-shadow: 0 5px 10px #fff;
    }

        ul#g_menu li a {            
            text-decoration: none;
            display: inline-block;
        }

            ul#g_menu li a:hover {
                text-decoration: none;
                color: #ccc;
                text-shadow: 0 5px 10px #fff;
            }

        /* Navegacao Sub-menu */
        ul#g_menu li:hover > ul {
            visibility: visible;
            opacity: 1;
            text-shadow: 0 1px 2px #000;
        }

    ul#g_menu ul, ul#g_menu ul li ul {
        list-style: none;
        margin: 0;
        padding: 0;
        visibility: hidden;
        position: absolute;
        z-index: 99999;
        width: 180px;
        background: #f8f8f8;
        box-shadow: 1px 1px 3px #1b1b1b;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
        -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
        -o-transition: opacity 0.2s linear, visibility 0.2s linear;
        transition: opacity 0.2s linear, visibility 0.2s linear;
    }

    ul#g_menu ul {
        top: 30px;
        left: 1px;
    }

        ul#g_menu ul li ul {
            top: 1px;
            left: 181px;
        }

        ul#g_menu ul li {
            clear: both;
            width: 100%;
            border: 0 none;
            border-bottom: 1px solid #325381;
            color: #fff;
            text-shadow: 1px 1px 0px #fff;
            font-size: 14px;
        }

            ul#g_menu ul li a {
                background: none;                
                text-decoration: none;
                display: inline-block;
                border: 0 none;
                float: left;
                clear: both;
                width: 150px;
            }

                ul#g_menu ul li:hover, ul#g_menu ul li a:hover {
                    text-shadow: 1px 1px 0px #000;
                }

    ul#g_menu li.first {
        border-left: 0 none;
    }

    ul#g_menu li.last {
        border-right: 0 none;
    }